# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt

# Dependencies & System
/node_modules
/jspm_packages
.git
.DS_Store
Thumbs.db

# TypeScript & Build
typings
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.env*.local

# Next.js build output
.next
out

# Other frameworks
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/

# IDE
.idea
.vscode
*.swp
*.swo
*~
*.key
*.key.pub